<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>admin page</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />

    <style>
      #accordionSidebar {
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      #btn {
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>

  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% include "base/header.html" %}

          <!-- Begin Page Content -->
          <div class="container-fluid" >
            {% block content %}
            <div class="container p-5" id="btn">
              <div class="row justify-content-center">
                  <div class="col-lg-7">
                      <div class="card rounded-lg m-5" style="box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;">
                          <div class="card-header"><h3 class="text-center font-weight-light my-4">
                            <img src="/media/img/logo.png " class="img-inline embed-responsive" alt="Responsive image">
                          </div>
                          <div class="card-body">
                            <h3 class="text-center">Welcome Back..!</h3>
                              <h4 class="text-center"><b>..... {{request.user.username }} .....</b></h4>
  
                          </div>
                          <div class="card-footer text-center py-3">
                              <div class="small"><a href="#">Welcome Back..!</a></div>
                          </div>
                      </div>
                  </div>
               </div>
            {% endblock %}
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% block footer %}
          <footer class="footer bg-white fixed-bottom">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; My Website BCA 2021</span>
              </div>
            </div>
          </footer>
        {% endblock %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/accounts/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages -->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   
  </body>
</html>
