{% extends 'base/base.html' %}

{% block content %}
  <div class="container bg-light">
    <div class="chart-area">
      <table class="table mt-5 table-hover table-bordered table-sm">
        <thead>
          <tr>
            <th>s.no</th>
            <th>Candidate Name</th>
            <th>Candidate Resume</th>
            <th>Candidate Apply Date</th>
            <th>vacancy to apply</th>
          </tr>
        </thead>
        <tbody>
          {% if candidate %}
            {% for v in candidate %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ v.cname }}</td>
                <td>
                  <a href="/media/{{ v.cresume }}">{{ v.cresume }}</a>
                </td>
                <td>{{ v.applydate }}</td>
                <td>{{ v.vacancy.vaccancyName }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
